.sidebar {
	overflow-y: scroll;
	max-height: 100vh;
}

#map {
	width: 100%;
}

.filtered-places {
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-padding-start: 0;
}

ul li:nth-child(odd) {
	background: #fafafa;
}

li {
	padding: 1.5% 5%;
}

.wrapper {
	display: flex;
	min-height: 100%;
}

.navbar-toggle span {
	background: #333;
}

.navmenu, .navbar-offcanva {
	width: 25%;
	background: #fff;
}

@media (max-width: 1099px){

	.offcanvas-md.in {
		width: 90%;
	}

	.navbar-toggle {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;
	}

}



