.sidebar {
	overflow-y: scroll;
	max-height: 100vh;
}

#map {
	width: 100%;
}

.filtered-places {
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-padding-start: 0;
}

ul li:nth-child(even) {
	background: #fafafa;
}

li {
	padding: 1.5% 5%;
}

.wrapper {
	display: flex;
	min-height: 100%;
}


.forms-container {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.navbar-toggle span {
	background: #333;
}

.navbar-toggle .icon-bar {
	width: 50px;
	height: 8px;
}
.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 8px;
}

.navmenu, .navbar-offcanva {
	width: 25%;
	background: #fff;
}

.gm-style .gm-style-iw {
	font-size: 30px;
}

.city, .query {
	font-size: 18px;
	width: 150px;
	height: 20px;
	border: none;
}

@media (max-width: 1099px){

	body {
		font-size: 20px;
	}

	.offcanvas-md.in {
		width: 90%;
	}

	.navbar-toggle {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;
	}

	.forms-container {
		flex-direction: column;
		background: #fafafa
	}

	.forms-container form {
		display: flex;
		justify-content: center;
	}

	.city, .query {
		padding: 30px;
		width: 80%;
		font-size: 20px;
	}

}


@media (max-width: 765px) {

	.forms-container {
		flex-direction: column;
	}

	.city, .query {
		padding: 10px 20px 10px 34px;
		width: 100%;
	}
}


