/* ==========================================================================
   Map
   ========================================================================== */

#map {
    width: 100%;
    float: right;
}
/* ==========================================================================
   Navigation Bar (Sidebar)
   ========================================================================== */

.sidebar {
    overflow-y: scroll;
    max-height: 100vh;
}
.navmenu,
.navbar-offcanvas {
    width: 25%;
    background: #fff;
}
/* Forms
   ========================================================================== */

.forms-container {
    display: flex;
    background: #fafafa;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}
.form-filter,
.form-city {
    display: flex;
    justify-content: center;
}
.city,
.query {
    height: 20px;
    border: none;
    padding: 25px;
    width: 80%;
    font-size: 20px;
    margin-bottom: 20px;
}
/* List
   ========================================================================== */

.filtered-places {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
}
ul li:nth-child(even) {
    background: #fafafa;
}
li {
    padding: 1.5% 5%;
}
/* Hamburger Menu
   ========================================================================== */

.navbar-toggle span {
    background: #3b4153;
}
.navbar-toggle .icon-bar {
    width: 50px;
    height: 8px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 8px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 1199px) {
    body {
        font-size: 20px;
    }
    .offcanvas-md.in {
        width: 90%;
    }
    .navbar-toggle {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }
    .gm-style .gm-style-iw {
        font-size: 30px;
    }
}
@media (max-width: 765px) {
    .city,
    .query {
        padding: 10px 20px 10px 34px;
        width: 100%;
    }
}